modules = ["python-3.12"]
run = "python3 bot.py"

[nix]
channel = "stable-25_05"
packages = ["ffmpeg-full", "geckodriver"]

[deployment]
run = ["sh", "-c", "python3 bot.py"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 46412250
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 bot.py"
