aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram==2.0.106
requests
tgcrypto
yt-dlp
olefile
selenium
beautifulsoup4
webdriver-manager
Flask
gunicorn==20.1.0
Jinja2
werkzeug
itsdangerous
lk21
filetype
tldextract